.backlog-container{
    background-color: #373C3F;
    width:100%;
    height: 100vh;
    color: white;
}


h6{
    margin-bottom:0
}

.tag{
    display:inline-block;
    padding: 3px;
}
.not-tatus{
    background-color: #373C3F;
}
.not-started{
    background-color: #7A363B;
}
.in-progress{
    background-color: #92763F;
}
.completed{
    background-color: #325241;
}
.abandoned{
    background-color: hsl(253, 39%, 35%);
}

.button-add{
    
    background: transparent;
    width: 24px;
    height: 26px;
    padding: 0px;
    border: none;
    font-weight: bold;
    text-align: center;
    margin-left: 16px;
    
}

.button-add:hover{
    
    background: #212529;
    border: solid 1px #6C757D;
    border-radius: 5px;
    
   
}

.card-game{
    background-color: #3F4447;
}


