html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin:0;
  padding: 0;
}

body{
  overflow-x: hidden;
  background-color: #373C3F;
}
